<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393770132615-4vd5b07ailknc5hjho2gn2seo1rf4bep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393770132615-4vd5b07ailknc5hjho2gn2seo1rf4bep</string>
	<key>API_KEY</key>
	<string>AIzaSyBhkNl3yjmBJnQNXAD7cLp7AgduaQmA16w</string>
	<key>GCM_SENDER_ID</key>
	<string>393770132615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathanng.fluttercircles</string>
	<key>PROJECT_ID</key>
	<string>circles-2f91e</string>
	<key>STORAGE_BUCKET</key>
	<string>circles-2f91e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393770132615:ios:3c722fcb835a99c1830422</string>
</dict>
</plist>